.App {
  overflow: hidden;
  font-family: 'OpenSans-Medium';
  
}

#background{
  background-color: #141414;
  position: absolute;
  overflow: hidden;
  opacity: 0.9;
  z-index: -1;
}

#background img{
  filter: blur(5px);
}


#mainTitle{
  background-color: rgb(14,14,14,0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

#intro{
  width: fit-content;
  text-align: left;
  color: white;
  z-index: 1;
}

#intro div{
  display: inline;
}

#link div{
  display: inline;
  border: orange solid 1px;
  color: orange;
  text-transform: uppercase;
  transition: ease-out 0.4s;
  outline:none;
  box-shadow: inset 0 0 0 0 orange;
  cursor: pointer;
}

#link div:hover{
  color:white;
  box-shadow: inset 150px 0 0 0 orange;
}

#scroll{
  text-align: center;
  color: white;
  animation: bounce 2s linear infinite;
}

#scroll img{
  transform: rotate(90deg); 
}

#fade{
  height: 10vh;
  background:linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0) 100%);
}

@media (max-width: 750px) {


  #background img{
    width: 350%;
    margin-left: -120%;
  }


  #mainTitle{
    margin-left: 10%;
    margin-top: 16%;
    margin-bottom: -20%;
    padding:5%;
    width:70%;
  }

  #intro{
    font-size: 170%;
    font-weight: bold;
    text-align: center;
    margin-left: 5%;
    padding-top: 5%;
  }

  #link{
    font-size: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #link div{
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding:2%;
    width: fit-content;
  }

  #scroll{
    visibility: hidden;
  }
}

@media (min-width: 750px) {

  

  #background img{
    width: 100%;
  }

  #mainTitle{
    margin-left: 20%;
    margin-top: 10%;
    padding:1%;
    width:60%;
  }

  #intro{
    font-size: 250%;
    margin-left: 15%;
    padding-top: 5%;
  }

  #link{
    width: 90%;
    margin-top: 14%;
    margin-bottom: 10%;
  }

  #link div{
    background-color: rgba(14, 14, 14, 0.41);
    font-size: 140%;
    margin-left: 11%;
    padding:1%;
  }

  #scroll{
    margin-left: 0%;
    margin-top: 14%;
  }
}



@keyframes bounce{
  20%,60%,to{
      transform: translateY(0);
  }
  40%{
      transform: translateY(-10px);
  }
  80%{
      transform: translateY(-10px);
  }
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans-Medium';
  src: local('OpenSans-Medium'), url(../fonts/OpenSans-Medium.ttf) format('truetype');
}









